<div class="container-fluid">
    <h2 class="text-center">Registrar Streamer</h2>
    <div class="row d-flex justify-content-evenly">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <app-form-categorias (dataCategoria)="dataCategoria($event)"></app-form-categorias>
            <app-form-streamer (dataUsuario)="dataUsuario($event)"></app-form-streamer>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <app-form-nominados [listaStreamers]="listaStreamers" [listaCategorias]="listaCategorias"></app-form-nominados>
        </div>
    </div>
</div>