
<div class="container-fluid px-0">
    <div class="row gx-0">
      <div class="col">
        <video src="./../../../assets/img/CAA.webm"  autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
      </div>
      
    </div>

  
    <!--<div id="carouselInicio" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let banner of img_banner; let firstItem = first" [ngClass]="{active:firstItem}">
                <img class="d-block w-100" [src]="banner" >
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>-->
    <section class="section-nominaciones">
      <h1 class="text-center my-5 ">Categorias</h1>
      <div class="row gx-0 justify-content-center">
        <div class="col-md-4 col-lg-4 col-xl-3 col-sm-6">
          <app-select-anio [listaAnios]="listaAnios" (anioSelected)="anioSelect($event)"></app-select-anio>
          <app-select-categoria [listaCategorias]="listaCategorias" (ternaSelected)="ternaSelect($event)"></app-select-categoria>
          
        </div>
      </div>
      <div class="container">
        <app-lista-nominados [listaNominados]="listaNominados"></app-lista-nominados>
      </div>
    </section>
    
     
    <footer class="bg-dark text-center text-white mt-5">

      <div class="container p-4 pb-0 ">
        <section class="mb-4">
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitch"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
        </section>
      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Coscu Army Awards
      </div>
    </footer>
      
    
    
    
</div>
