@import "./../../../../variables_generales.scss";
legend{
    color:$dorado
}

.avatar{
    border-radius: 50%;
}

.card{

    border:0;
    border-radius: 0;
    /*width: 50px;
    flex: 1 0 10%;
    grid-template-columns: repeat(4, 1fr);*/
}
.card-group{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.card-text{
    font-size: 10px;
    white-space: nowrap
}
img{
    cursor:pointer
}

.bg-select{
    background-color: $verde;
    color:white;
}

hr{
    margin: 0.5rem;
}