
$dorado:rgb(231,163,57);
$amarillo:rgb(240, 187, 98);
$crema:rgb(244, 238, 169);
$negro:rgb(25,25,25);
$gris:rgb(36,36,36);
$verde:rgb(81, 146, 89);
$verde-claro:rgb(120, 219, 131);
$verde-oscuro:rgb(6, 70, 53);

